*.[Tt][Xx][Tt]
*.[Xx][Ll][Ss][Xx]
*.[Rr][Dd][Aa][Tt][Aa]
*.[Rr][Pp][Rr][Oo][Jj]
*.[Rr][Hh][Ii][Ss][Tt][Oo][Rr][Yy]
*.[Cc][Ss][Vv]
*.[Tt][Xx][Tt]
*.[Hh][Tt][Mm][Ll]
*.[Ll][Oo][Gg]
*.[Aa][Uu][Xx]
*.[Pp][Nn][Gg]
*.[Jj][Pp][Ee][Gg]
*.[Jj][Ss][Oo][Nn]
*.[Dd][Cc][Ff]
*.fdb_latexmk
*.fls
*.nav
*.out
*.snm
*.gz
*.toc

*.geojson

.Rproj.user
